<h3>Top Heroes</h3>
{{tagState$ | async}}
<button (click)="open()"> 打开 </button>
<button (click)="close()"> 关闭 </button>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes"  [routerLink]="['/detail', hero.id]"  class="col-1-4">
    <div class="module hero">
      <h4>{{hero.name}}</h4>

    </div>
  </a>
</div>
<!-- 表单测试 -->
<!-- <div [(ngModel)]="test" name="mytest" #mytest="ngModel">测试关联属性</div>
  这个#mytest="ngModel" 只适用于表单
{{ mytest }} -->
<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
  <div class="form-group">Name</div>
  <input type="text" class="form-control" id="name"
         required
         [(ngModel)]="model.name" name="name"
         #name="ngModel" placeholder="请输入用户名">
  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Name is required
  </div>
  {{ name.value }}  {{ name.valid }}
  <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
</form>

<div style="width: 100px;height: 100px" [@signal]="'go'"></div>

<app-form></app-form>
<app-search>
  <li *ngFor="let hero of items">
    {{hero}}
  </li>
</app-search>

